html{
    max-width: 960px;
    margin: 0 auto;
}
body{ 
    width: 100%;
}

#logo{
    display: inline-block;
}
#fancy{
    font-family: 'Yellowtail', cursive;
    font-size: 1.5em;
}
#plain{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50%;
}
.navicons{
    list-style: none;
    display: inline-block;
}

#nav{
    float: right;
}

#header-boarder{

}
#ingredients {
    background-image: url('images/list-bg.png');
    margin-top: 25px;
    margin-bottom: 50px;
    height: 200px;
    font-family: 'Patrick Hand', cursive;
    font-size: 20px;
}
#left {
    padding: 40px;
    margin-left: 20px;
}
#right {
   padding: 40px;
   position: relative;
   left: 500px;
   bottom: 193px;
}

header{
    margin-bottom: 50px;
}

#printicons{
    float: right;
}

#choco {
    width: 100%;
}

.indent{
    text-indent: 2em;
    margin-top: 25px;
    
}
.strike-through {
    text-decoration: line-through;
}